<header class="header">
  <a href="/"class="nav-link">
    <h1 class="logo">UiA Grimstad Sports</h1>
  </a>
  <nav class="navigation">
    <div class="dropdown">
      <a href="#" class="nav-link dropdown-toggle">Sports</a>
      <div class="dropdown-menu">
        <a href="/badminton" class="dropdown-item">Badminton</a>
        <a href="/lacrosse" class="dropdown-item">Lacrosse</a>
        <a href="/running" class="dropdown-item">Running</a>
        <a href="/volleyball" class="dropdown-item">Volleyball</a>
        <a href="/football" class="dropdown-item">Football</a>
        <a href="/boxing" class="dropdown-item">Boxing</a>
        <a href="/handball" class="dropdown-item">Handball</a>
        <a href="/esport" class="dropdown-item">Esport</a>
      </div>
    </div>
  </nav>
</header>