<main class="main-content">
  <section class="section">
    <div class="content">
      <h2>Grimstad Bokseklubb</h2>
      <p class="description"><b>Training location:</b> Frivoldveien 11-13 4877 Grimstad Norway. Bak vertshuset</p>
      <p class="description">
        Boxing is a combat sport and martial art. Taking place in a boxing ring, it involves two people – usually wearing protective equipment, such as protective gloves, hand wraps, and mouthguards – throwing punches at each other for a predetermined amount of time.
      </p>
      <p>Link:
        <a href="https://fightstream.no/" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>language</mat-icon> Website
        </a> | 
        <a href="https://www.facebook.com/groups/213753828680277/?locale=nb_NO" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>facebook</mat-icon> Facebook
        </a> | 
        <a href="https://www.instagram.com/grimstad_bokseklubb/" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>photo_camera</mat-icon> Instagram
        </a> | 
        <a href="tel:91791563" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>phone</mat-icon> Hovedtrener: Henning Lillejord
        </a> | 
      </p>
    </div>
  </section>

  <section class="bottom">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/V4P9e7Xotz4?rel=0&modestbranding=1&autohide=1&iv_load_policy=3&showinfo=0&fs=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <div class="iframe-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76417.89383374629!2d8.491501261102988!3d58.353154353967376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647efa63f8a7b2d%3A0x9e4c6c821d54deb7!2sGrimstad%20Bokseklubb!5e0!3m2!1sfr!2sno!4v1731583375011!5m2!1sfr!2sno"
        width="100%"
        height="315"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section> 
</main>