<main class="main-content">
  <section class="section">
    <div class="content">
      <h2>GSI GRIZZLIES LACROSSE</h2>
      <p class="description">GSI Lacrosse is a student sport that focuses on unity on and off the field. We differ from other Norwegian lacrosse clubs by playing Box lacrosse, an intense and fast indoor variant.</p>
      <p class="description">All our players (including the coach) started lacrosse for the first time at university, previous experience is of course welcome, but not in any way mandatory.</p>
      <p class="description">Our team emphasizes community and builds strong relationships between the players. We also organize social activities and voluntary projects to strengthen the bonds between us. </p>
      <p class="description">Box lacrosse provides a unique game experience with tactical thinking and fast, physical play. As a student sports team, we are proud to offer this opportunity and create an inclusive and engaging atmosphere. We especially demonstrated this on our annual trip to Prague (ref pictures). Where both the boys and girls play tournaments over the course of 7-10 days.</p>
      <p class="description">Although we usually play box lacrosse in training, we still try to take part in Norwegian tournaments as much as possible, as this creates good team spirit and a better relationship with the Norwegian lacrosse environment. We took silver in the annual student games in Oslo for 2023, which is of course very impressive</p>
      <p>Links:
        <a href="https://www.facebook.com/gsilacrosse/" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>facebook</mat-icon> Facebook
        </a> |
        <a href="https://www.gsisport.com/next/p/73702/lacrosse" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>language</mat-icon> Website
        </a>
      </p>
    </div>
  </section>
  <section class="bottom">
    <div class="carousel-container">
      <div class="carousel-slide">
        <ng-container *ngIf="images.length > 0">
          <img [src]="images[currentSlideIndex]" alt="Slide image" />
        </ng-container>
      </div>
      <button (click)="prevSlide()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button (click)="nextSlide()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  
    <div class="iframe-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2094.259681778257!2d8.579210100000001!3d58.338420199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647ee68f8031313%3A0xafba0d7d2a6dcabf!2sLillesandsveien%2035%2C%204877%20Grimstad!5e0!3m2!1sfr!2sno!4v1731582729410!5m2!1sfr!2sno"
        width="100%"
        height="315"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>  
</main>