<main class="main-content">
  <section class="section">
    <div class="content">
      <h2>Grimstad Badmintonklubb</h2>
      <p class="description"><b>Training times:</b> Tuesday and Thursday</p>
      <p class="description"><u>Children, Youth, Junior:</u> 5pm to 7pm</p>
      <p class="description"><u>Adults, Veteran and Students:</u> 7pm to 9pm</p>
      <p class="description"><b>Training location:</b> Grimstadhallen (Lillesandsveien 35, 4877 Grimstad)</p>
      <p class="description">
        The training times follow the school year. You can try badminton a few times before signing up. Rackets and balls can be borrowed from GBK. 
        Information is also posted on the Facebook page.
        
        The head coach for the children/youth/junior group is Joakim Harring.
      </p>
      <p class="description">
        Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). Badminton is often played as a casual outdoor activity in a yard or on a beach; formal games are played on a rectangular indoor court. Points are scored by striking the shuttlecock with the racquet and landing it within the other team's half of the court.
      </p>
      <p>Links:
        <a href="https://www.facebook.com/groups/grimstadbadmintonklubb/" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>facebook</mat-icon> Facebook
        </a> |
        <a href="https://grimstadbadminton.no/next/p/30841/hjem" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>language</mat-icon> Website
        </a>
      </p>
    </div>
  </section>

  <section class="bottom">
    <div class="carousel-container">
      <div class="carousel-slide">
        <img [src]="images[currentSlideIndex]" alt="Slide image" />
      </div>
    </div>
  
    <div class="iframe-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4981.004731192253!2d8.57552720026706!3d58.33850743240563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647ee68581314a1%3A0x3552a9352a7a6c55!2sGrimstadhallen!5e0!3m2!1sfr!2sno!4v1730709769461!5m2!1sfr!2sno"
        width="100%"
        height="315"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>  
</main>