<main class="main-content">
  <section class="section">
    <div class="content">
      <h2>UiA Kraken</h2>
      <p class="description">
        The university of Agder propose to student the option to study the esport world. As part of a study project some students have created a team at UiA Grimstad to compete in different video games.
        </p>
      <p class="description">
        Some tournaments are organized by the team at the university and plan to go on national tournaments later.
        These internal tournaments are open to all students and are a good way to meet new people and have fun. You can either participate as a beginner but also as a more serious player if your objective is to be the best of the best.
      </p>
      <p class="description"><b>Weekly tournaments:</b> room</p>
      <p>Link:
        <a href="https://discord.gg/QZgJzrMVjp" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>discord</mat-icon> Discord
        </a>
      </p>
    </div>
  </section>

  <section class="video-container">
     </section>

  <section class="bottom">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O-qC3CWnC7M?rel=0&modestbranding=1&autohide=1&iv_load_policy=3&showinfo=0&fs=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 
  
    <div class="iframe-container"> 
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2094.5116204754045!2d8.57457047630896!3d58.33416949027826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647ee428a0fc789%3A0x9b4aa7f9665e790e!2sUniversity%20of%20Agder%20Campus%20Grimstad!5e0!3m2!1sfr!2sno!4v1731582975650!5m2!1sfr!2sno"
        width="100%"
        height="315"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>
</main>