<main class="main-content">
  <section class="section">
    <div class="content">
      <h2>High Pulse Running Club</h2>
      <p>Number of meetings per week: 2</p>
      <p>Price to join: Free</p>
      <p>Meeting days: Tuesday, Sunday</p>
      <p>Focus: Road running</p>
      <p class="description">
        High Pulse Running Club or Hprunningclub is a running club created by students at the university of Grimstad.
        The club is open to everyone, regardless of age or running experience. The club has a great mix of beginners and experienced runners.
        If you want to join the club you can click on the Spond link below to have all the informations about the future runs.
        For now the club is not organising runs due to the weather in winter but the runs will start again in spring.
      </p>
      <p>Links:
        <a href="https://www.instagram.com/hprunningclub/" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>photo_camera</mat-icon> Instagram
        </a> |
        <a href="https://www.strava.com/clubs/highpulse" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>directions_run</mat-icon> Strava
        </a> |
        <a href="https://spond.com/landing/group/XKWMC" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>web</mat-icon> Spond
        </a>
    </div>
  </section>

  
  <section class="bottom">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YhY5ueXDAG4?rel=0&modestbranding=1&autohide=1&iv_load_policy=3&showinfo=0&fs=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  
    <div class="iframe-container"> 
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2094.5116204754045!2d8.57457047630896!3d58.33416949027826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647ee428a0fc789%3A0x9b4aa7f9665e790e!2sUniversity%20of%20Agder%20Campus%20Grimstad!5e0!3m2!1sfr!2sno!4v1731582975650!5m2!1sfr!2sno"
        width="100%"
        height="315"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section> 

  <section class="section">
    <div class="content">
      <h2>Grimstad Running Club</h2>
      <p>Number of meetings per week: 4</p>
      <p>Price to join: 250 NOK</p>
      <p>Meeting days: Monday, Tuesday, Thrusday, Saturday or Sunday</p>
      <p>Focus: Every distance, mainly marathon distance</p>
      <p class="description">
        The inspiration for this running group comes from the Kristiansand running club, which has been very successful in the last couple of years.
        The club is open to everyone, regardless of age or running experience. The club has a great mix of beginners and experienced runners.
        For the winter season the club trans indoor on tuesday and thursday from 8pm to 9pm at the Sparebanken Sør Arena.
        Each training usually take places at different meeting points. The club has a Facebook group where the training sessions are posted.
      </p>
      <p>Links:
        <a href="https://www.facebook.com/groups/227269170971041" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>facebook</mat-icon> Facebook
        </a> |
        <a href="https://www.strava.com/clubs/565402" target="_blank" class="btn btn-primary" mat-button>
          <mat-icon>directions_run</mat-icon> Strava
        </a> |
        <a href="mailto:martin.haugen@gat.no" class="btn btn-primary" mat-button>
          <mat-icon>email</mat-icon> Contact
        </a>
      </p>
    </div>
  </section>

  <section class="section">
    <div class="interview-content">
      <h2>Comments</h2>
      <div class="interview">
        <p class="quote">"It's for those who are a bit active, people who are already a bit up and running. You should be able to run a full 5 kilometers or the shortest distance in the cross-country carousel."</p>
        <p class="runner-name">- Flatland</p>
      </div>
      <div class="interview">
        <p class="quote">"If you are interested in running, you can get inspiration"</p>
        <p class="runner-name">- Mikalsen</p>
      </div>
      <div class="interview">
        <p class="quote">"This could, for example, be for people who want to take part in exercise runs, for example Hilde who has signed up to go to New York. You find something you want to sign up for, and then you want to train for it"</p>
        <p class="runner-name">- Flatland</p>
      </div>
    </div>
  </section>
</main>