<main class="main-content">
  <!-- TODO add list of sports -->
  <section class="sport-section center">
    
  </section>
  <section class="section">
    <div class="image-container">
        <img src="assets/badminton.png" alt="Badminton racket" class="image" />
        <div class="text-overlay">
            <h2 class="title">Badminton</h2>
            <p class="description">
                A fun and fast-paced racket sport, where players hit a small shuttlecock over a net. It can be played casually in the backyard or competitively indoors. All you need is a racket, a shuttlecock, and a net. It’s great for improving reflexes and agility and can be enjoyed solo (singles) or with a partner (doubles). You don’t need much space, making it perfect for parks or small courts.
            </p>
            <button mat-fab extended (click)="navigateToBadminton()">
                <mat-icon>add</mat-icon>
                More info
            </button>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="image-container">
        <img src="assets/lacrosse.png" alt="Lacrosse image" class="image" />
        <div class="text-overlay">
            <h2 class="title">Lacrosse</h2>
            <p class="description">
                Lacrosse is a fast, action-packed team sport that combines running, passing, and catching with a stick that has a net at the end. You aim to score by throwing a ball into your opponent's goal. It’s often played outdoors on a large field. To get started, you'll need a lacrosse stick, a ball, and some basic protective gear like a helmet (if you're playing a full-contact version). It’s a great workout that builds coordination, speed, and teamwork.
            </p>
            <button mat-fab extended (click)="navigateToLacrosse()">
                <mat-icon>add</mat-icon>
                More info
            </button>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="image-container">
        <img src="assets/running.png" alt="Running shoes" class="image" />
        <div class="text-overlay">
            <h2 class="title">Running</h2>
            <p class="description">
                Running is one of the simplest and most accessible sports. You just need a pair of running shoes and a path to get started. Whether you're running on the road, track, or trail, it can be tailored to your fitness level. Start with short distances and build up your stamina over time. You can enjoy it solo or join running groups for added motivation. It’s excellent for cardiovascular fitness and mental health.
            </p>
            <button mat-fab extended (click)="navigateToRunning()">
                <mat-icon>add</mat-icon>
                More info
            </button>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="image-container">
        <img src="assets/volleyball.png" alt="Volleyball image" class="image" />
        <div class="text-overlay">
            <h2 class="title">Volleyball</h2>
            <p class="description">
                Volleyball is a team sport played with two teams of six, aiming to send the ball over a net and land it in the opposing team's court. It can be played casually on the beach or competitively in indoor courts. All you need is a ball and a net. It’s great for developing teamwork, coordination, and agility. Beach volleyball is especially popular for its fun, social aspect, while indoor volleyball is fast-paced and more strategic.
            </p>
            <button mat-fab extended (click)="navigateToVolleyball()">
                <mat-icon>add</mat-icon>
                More info
            </button>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="image-container">
        <img src="assets/soccer.png" alt="Football image" class="image" />
        <div class="text-overlay">
            <h2 class="title">Football</h2>
            <p class="description">
                Football (soccer) is the world’s most popular sport, where two teams compete to score goals by kicking a ball into the opposing team's net. It’s easy to start—all you need is a ball and a bit of open space. You can play with friends in a park or join a local league. It’s great for improving endurance, foot-eye coordination, and teamwork, and it’s enjoyed by all ages.
            </p>
            <button mat-fab extended (click)="navigateToFootball()">
                <mat-icon>add</mat-icon>
                More info
            </button>
        </div>
    </div>
  </section>
  <section class="section">
    <div class="image-container">
        <img src="assets/kickboxing.png" alt="Boxing gloves" class="image" />
        <div class="text-overlay">
            <h2 class="title">Boxing</h2>
            <p class="description">
                Boxing is a dynamic combat sport that combines punches and kicks, drawn from both martial arts and boxing. It’s often practiced for fitness or self-defense, and it provides a great full-body workout. You’ll need gloves, a punching bag (or partner), and comfortable gear to start. Classes or personal training sessions are a good way to learn proper techniques. It’s a fun way to improve strength, speed, and self-discipline.
            </p>
            <button mat-fab extended (click)="navigateToKickBoxing()">
                <mat-icon>add</mat-icon>
                More info
            </button>
        </div>
    </div>
  </section>
    <section class="section">
        <div class="image-container">
            <img src="assets/handball.png" alt="Handball image" class="image" />
            <div class="text-overlay">
                <h2 class="title">Handball</h2>
                <p class="description">
                    Handball is a fast-paced team sport that combines elements of soccer, basketball, and water polo. Two teams of seven players aim to score by throwing a ball into the opposing team's goal. It’s played indoors on a court with a small ball. You need a ball and a goal to get started. It’s great for improving agility, teamwork, and hand-eye coordination. It’s popular in Europe and growing worldwide.
                </p>
                <button mat-fab extended (click)="navigateToHandball()">
                    <mat-icon>add</mat-icon>
                    More info
                </button>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="image-container">
            <img src="assets/esport.png" alt="Esport image" class="image" />
            <div class="text-overlay">
                <h2 class="title">Esport</h2>
                <p class="description">
                    Esports is a form of competition using video games. It can be played individually or in teams, and it’s often organized into leagues or tournaments. Popular games include League of Legends, Fortnite, and Overwatch. To get started, you need a gaming console or computer, a stable internet connection, and the game you want to play. It’s a rapidly growing industry with professional players, coaches, and commentators.
                </p>
                <button mat-fab extended (click)="navigateToEsport()">
                    <mat-icon>add</mat-icon>
                    More info
                </button>
            </div>
        </div>
    </section>
</main>